# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets / env
.env
.env.*
!.env.example

# Editor / OS
.idea/
.vscode/
.DS_Store
